
__pycache__/Ligma.cpython-39.pyc
__pycache__/Ligma.cpython-311.pyc
__pycache__/Ligma.cpython-312.pyc
Testdateien/Key.lig
Testdateien/Nachricht.ball
Testdateien/Text.txt
Testdateien/Test.py
__pycache__/LigmaB.cpython-311.pyc
__pycache__/LigmaB.cpython-39.pyc
